@import "../../variables.scss";

img {
    margin-top: 20px;
    margin-right: 10px;
    float: right;
    width: 23vw;
}

.recommendation {
  margin-top: 30px;
  position: relative;
  float: right;
}

p {
  text-align: center;
}

.heading-red {
  color: #dd2d4e;
}
.heading-blue {
  color: #274782;
}
