<div class="tab-bar">
    <div [ngClass]="isSymptomsActive() ? 'tab-active' : ''" (click)="routeForSymptomTab()">
        <i class="fa fa-stethoscope fa-2x" aria-hidden="true"></i>
        <span>Track Symptoms</span>
    </div>
    <div [ngClass]="isInfoActive() ? 'tab-active' : ''" (click)="routeForInfoTab()">
        <i class="fa fa-info-circle fa-2x" aria-hidden="true"></i>
        <span>Health Tips</span>
    </div>
</div>