@import "../../variables.scss";

.tab-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    display: flex;
    flex-direction: row;
    z-index: 100;

    * {
        text-align: center;      
    }

    div {
        color: $app-blue;
        background: $white;
        width: 50vw;
        border: 1px solid $app-blue;
        padding: 2px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        span {
            font-size: 14px;
        }
    }

    div.tab-active {
        color: $white;
        background: $app-blue;
    }
}