<div class="page_wapper">
  <!--page_wapper-->
  <!--Header-->
  <header class="header_v1">
    <!--Header-v1--->
    <section class="navbar_outer">
      <div class="navbar navbar-expand-lg  bsnav bsnav-sticky bsnav-sticky-slide">
        <div class="container">
          <a class="navbar-brand" href="index.html"><img src="assets/image/logo-default.png" class="img-fluid" alt="img"></a>
        </div>
      </div>
      <!--Header-v1-end-->
    </section>
  </header>
  <!--Header-->
  <main class="main-content">
    <!------main-content------>
    <!-----------protect--------------->
    <section class="protect type_two pdt_100  pdb_100 wow fadeIn" data-wow-delay="600ms" data-wow-duration="1500ms">
      <div class="container">
        <div class="row">
          <!---------row----------->
          <div class="col-lg-12 col-md-12">
            <!---------col----------->
            <div class="heading text-center tp_one">
              <h6> What you need to do</h6>
              <h1>How to protect yourself?</h1>
              <p> Our actions as individuals will go a long way in preventing, detecting and isolating potential cases of <br class="md_display_none">coronavirus and COVID-19</p>
            </div>
            <!---------col-end---------->
          </div>
          <!----------row-end---------->
        </div>
        <div class="row">
          <!---------row----------->
          <div class="col-lg-4 col-md-12">
            <!---------col----------->
            <div class="protect_box_left">
              <!--------protext-box-------->
              <div class="protect_box type_two">
                <div class="image_box">
                  <img src="assets/image/resources/protect-box-2-1.png" class="img-fluid" alt="img" />
                  <span class="fa fa-check"></span>
                </div>
                <div class="content_box">
                  <h2><a href="#">Stay at home</a></h2>
                  <p> Stay at home if you perceive the symptoms and consult your doctor on phone.</p>
                </div>
              </div>
              <!--------protext-box-end------->
              <!--------protext-box-------->
              <div class="protect_box type_two">
                <div class="image_box">
                  <img src="assets/image/resources/protect-box-2-2.png" class="img-fluid" alt="img" />
                  <span class="fa fa-check"></span>
                </div>
                <div class="content_box">
                  <h2><a href="#">Use mask </a></h2>
                  <p> When you are around other people and before you enter a healthcare provider’s.</p>
                </div>
              </div>
              <!--------protext-box-end------->
              <!--------protext-box-------->
              <div class="protect_box type_two">
                <div class="image_box">
                  <img src="assets/image/resources/protect-box-2-3.png" class="img-fluid" alt="img" />
                  <span class="fa fa-check"></span>
                </div>
                <div class="content_box">
                  <h2><a href="#">Wash your hands</a></h2>
                  <p>Clean your hands with alcohol or wash them with soap for at least 20 seconds.</p>
                </div>
              </div>
              <!--------protext-box-end------->
            </div>
            <!---------col-end---------->
          </div>
          <div class="col-lg-4 col-md-12">
            <!---------col----------->
            <div class="content_image_box">
              <img src="assets/image/resources/protect-2-1.png" class="img-fluid" alt="img" />
            </div>
            <!---------col-end---------->
          </div>
          <div class="col-lg-4 col-md-12">
            <!---------col----------->
            <div class="protect_box_right">
              <!--------protext-box-------->
              <div class="protect_box type_two">
                <div class="image_box">
                  <img src="assets/image/resources/protect-box-2-5.png" class="img-fluid" alt="img" />
                  <span class="fa fa-times worng"></span>
                </div>
                <div class="content_box">
                  <h2><a href="#">Social distance </a></h2>
                  <p> Stay at home if you perceive the symptoms and consult your doctor on phone.</p>
                </div>
              </div>
              <!--------protext-box-end------->
              <!--------protext-box-------->
              <div class="protect_box type_two">
                <div class="image_box">
                  <img src="assets/image/resources/protect-box-2-7.png" class="img-fluid" alt="img" />
                  <span class="fa fa-times worng"></span>
                </div>
                <div class="content_box">
                  <h2><a href="#">Don't touch your face</a></h2>
                  <p>Clean your hands with alcohol or wash them with soap for at least 20 seconds.</p>
                </div>
              </div>
              <!--------protext-box-end------->
              <!--------protext-box-------->
              <div class="protect_box type_two">
                <div class="image_box">
                  <img src="assets/image/resources/protect-box-2-8.png" class="img-fluid" alt="img" />
                  <span class="fa fa-times worng"></span>
                </div>
                <div class="content_box">
                  <h2><a href="#">Avoid handshaking</a></h2>
                  <p> Make sure you have plenty of frequent fluids.</p>
                </div>
              </div>
              <!--------protext-box-end------->
            </div>
            <!---------col-end---------->
          </div>
          <!----------row-end---------->
        </div>
      </div>
    </section>
    <!-----------protect-end-------------->
    <!------main-content-end----->
  </main>
  <!--page_wapper-end---->
</div>

<app-tab-bar [activeTab]="tabKey"></app-tab-bar>
