<table class="calendar">
    <thead>
        <tr>
            <th>MO</th>
            <th>TU</th>
            <th>WE</th>
            <th>TH</th>
            <th>FR</th>
            <th>SA</th>
            <th>SU</th>
        </tr>
        <tr>
            <td tappable *ngFor="let index of [0,1,2,3,4,5,6]"
                [ngClass]="isSelected(index) ? 'date-selected' : isDisabled(index) ? 'date-disabled' : ''"
                (click)="onDateSelected(index)">
                {{getDayNumber(index)}}
            </td>
        </tr>
        <tr>
            <td tappable *ngFor="let index of [7,8,9,10,11,12,13]"
                [ngClass]="isSelected(index) ? 'date-selected' : isDisabled(index) ? 'date-disabled' : ''"
                (click)="onDateSelected(index)">
                {{getDayNumber(index)}}
            </td>
        </tr>
    </thead>
</table>
