@import "../../variables.scss";

.calendar {
    margin: 10px 0;
    width: 100%;
    box-sizing: border-box;
    background-color: $white;

    * {
        text-align: center;
    }

    .date-selected {
        background-color: $app-red;
        color: $white;
    }

    .date-disabled {
        background: $app-text-color;
        color: $white
    }
}
