<div class="page_wapper">
  <!--page_wapper-->
  <!--Header-->
  <header class="header_v1">
    <!--Header-v1--->
    <section class="navbar_outer">
      <div class="navbar navbar-expand-lg  bsnav bsnav-sticky bsnav-sticky-slide">
        <div class="container">
          <a class="navbar-brand" href="index.html"><img src="assets/image/logo-default.png" class="img-fluid" alt="img"></a>
        </div>
      </div>
      <!--Header-v1-end-->
    </section>
  </header>
  <!--Header-->
  <main class="main-content">
    <!------main-content------>
    <!-----------page_title--------------->
    <section class="page_title  pdt_80  pdb_40">
      <div class="container">
        <div class="row">
          <!---------row----------->
          <div class="col-lg-12 col-md-12 text-center">
            <!---------col----------->
            <div class="content_box">
              <app-recommendation></app-recommendation>
            </div>
            <!---------col-end---------->
          </div>
          <!----------row-end---------->
        </div>
      </div>
    </section>
    <!-----------page_title-end-------------->
    <!-----------footer--------------->
    <section class="contact_page pdb_70 pdt_40">
      <div class="container">
        <div class="row">
          <!---------row----------->
          <div class="col-lg-6 col-md-12">
            <!---------col----------->
            <div class="contact_us_form">
              <p *ngIf="wasTested else notTested">
                Hello {{userName}}!<br>
                You have been free of symptoms for 48 hours, but you had been tested positive before.<br>
                To be released from quarantine you need to contact a doctor or the health authority!
              </p>

              <ng-template #notTested>
                <p>Hello {{userName}}!<br>
                  You have been free of symptoms for 48 hours<br>
                  As you haven't been tested positive, your quarantine will end tonight 11:59 pm.
                </p>
              </ng-template>
              <div class="form_box type_one" style="text-align: center;">
                <div class="form-group">
                  <button class="submit_btn" type="submit" id="tested-positive">OK</button>
                </div>
              </div>
            </div>
            <!---------col-end---------->
          </div>
          <!----------row-end---------->
        </div>
      </div>
    </section>
    <!------main-content-end----->
  </main>
  <!--page_wapper-end---->
</div>
