@import "../../variables.scss";

.symptom-selected {
	color: $white;
	background: $app-blue;
    border: 1px solid $app-blue;
    margin: 3px;
}

.symptom-not-selected {
    color: $app-blue;
    background: $white;
    border: 1px solid $app-blue;
    margin: 3px;        
}