<div class="page_wapper">
  <!--page_wapper-->
  <!--Header-->
  <header class="header_v1">
    <!--Header-v1--->
    <section class="navbar_outer">
      <div class="navbar navbar-expand-lg  bsnav bsnav-sticky bsnav-sticky-slide">
        <div class="container">
          <a class="navbar-brand" href="index.html"><img src="assets/image/logo-default.png" class="img-fluid" alt="img"></a>
        </div>
      </div>
      <!--Header-v1-end-->
    </section>
  </header>
  <!--Header-->
  <main class="main-content">
    <!------main-content------>
    <!-----------page_title--------------->
    <section class="page_title  pdt_80  pdb_40">
      <div class="container">
        <div class="row">
          <!---------row----------->
          <div class="col-lg-12 col-md-12 text-center">
            <!---------col----------->
            <div class="content_box">
              <h6></h6>
              <h1>Possible Infection Date</h1>
            </div>
            <!---------col-end---------->
          </div>
          <!----------row-end---------->
        </div>
      </div>
    </section>
    <!-----------page_title-end-------------->
    <!-----------footer--------------->
    <section class="contact_page pdb_70 pdt_40">
      <div class="container">
        <div class="row">
          <!---------row----------->
          <div class="col-lg-6 col-md-12">
            <!---------col----------->
            <div class="contact_us_form" id="form">
              <p>On which date were you last in touch with the positively tested person?</p>
              <form (ngSubmit)="onSubmit()" id="covid_test_form">
                <div class="form_box type_one" style="text-align: center;">
                  <div class="form-group">
                    <input type="date" id="last_contact" name="last_contact" [(ngModel)]="date"><br>
                    <small class="linearicons-calendar-full"></small>
                  </div>
                  <div class="form-group">
                    <button class="submit_btn" type="submit">Next</button>
                  </div>
                </div>
              </form>
            </div>
            <!---------col-end---------->
          </div>
          <!----------row-end---------->
        </div>
      </div>
    </section>
    <!------main-content-end----->
  </main>
  <!--page_wapper-end---->
</div>
