#in-touch {
  width: 300px;
  word-break: break-word;
  line-height: 25px;
  height: 85px;
  padding: 0 40px 0;
}

#tested-positive {
  width: 300px;
  word-break: break-word;
  line-height: 25px;
  height: 85px;
  padding: 0 50px 0;
}
