<div class="page_wapper">
  <!--page_wapper-->
  <!--Start Preloader-->
  <div class="preloader">
    <div class="preloader_box">
      <div class="loader">
        <img src="assets/image/preloader.png" class="img-fluid" alt="img">
        <p>please Wait...</p>
      </div>
    </div>
  </div>
  <!--End Preloader-->
  <!--Header-->
  <header class="header_v1">
    <!--Header-v1--->
    <section class="navbar_outer">
      <div class="navbar navbar-expand-lg  bsnav bsnav-sticky bsnav-sticky-slide">
        <div class="container">
          <a class="navbar-brand" href="index.html"><img src="assets/image/logo-default.png" class="img-fluid" alt="img"></a>
        </div>
      </div>
      <!--Header-v1-end-->
    </section>
  </header>
  <!--Header-->
  <main class="main-content">
    <!------main-content------>
    <!-----------page_title--------------->
    <section class="page_title  pdt_80  pdb_40">
      <div class="container">
        <div class="row">
          <!---------row----------->
          <div class="col-lg-12 col-md-12 text-center">
            <!---------col----------->
            <div class="content_box">
              <h6>First things first</h6>
              <h1>Hi I'm Coco.</h1>
            </div>
            <!---------col-end---------->
          </div>
          <!----------row-end---------->
        </div>
      </div>
    </section>
    <!-----------page_title-end-------------->
    <!-----------footer--------------->
    <section class="contact_page pdb_70 pdt_40">
      <div class="container">
        <div class="row">
          <!---------row----------->
          <div class="col-lg-6 col-md-12">
            <!---------col----------->
            <div class="contact_us_form" id="form">
              <p>Why are you here?</p>
              <div class="form_box type_one" style="text-align: center;">
                <div class="form-group">
                  <button class="submit_btn" type="submit" id="tested-positive" (click)="isTested()">Tested positive with COVID-19</button>
                </div>
                <div class="form-group">
                  <button class="submit_btn" type="submit" id="in-touch" (click)="isNotTested()">Been in touch with a positively tested person</button>
                </div>
              </div>
            </div>
            <!---------col-end---------->
          </div>
          <!----------row-end---------->
        </div>
      </div>
    </section>
    <!------main-content-end----->
  </main>
  <!--page_wapper-end---->
</div>
