@import "./variables.scss";

* {
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
}

.text-only {
    padding: 5px 2px;
}

.btn {
    position: relative;
    display: inline-block;
    padding: 0px 15px;
    font-weight: 700;
    text-align: center;
    height: 30px;
    line-height: 30px;
    border-radius: 30px;
    box-shadow: none;
    transition: all .5s ease;
    -webkit-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    -ms-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
}

.btn_submit {
	 color: $white;
	 background: $app-blue;
	 border: 0px!important;
	 min-width: 120px;
}

.btn_submit:hover {
    background: $app-red;
}
