<div class="page_wapper">
  <!--page_wapper-->
  <!--Header-->
  <header class="header_v1">
    <!--Header-v1--->
    <section class="navbar_outer">
      <div class="navbar navbar-expand-lg  bsnav bsnav-sticky bsnav-sticky-slide">
        <div class="container">
          <a class="navbar-brand" href="index.html"><img src="assets/image/logo-default.png" class="img-fluid" alt="img"></a>
        </div>
      </div>
      <!--Header-v1-end-->
    </section>
  </header>
  <!--Header-->
  <main class="main-content">
    <!------main-content------>
    <!-----------page_title--------------->
    <section class="page_title  pdt_80  pdb_40">
      <div class="container">
        <div class="row">
          <!---------row----------->
          <div class="col-lg-12 col-md-12 text-center">
            <!---------col----------->
            <div class="content_box" (click)="notify()">
              <app-recommendation></app-recommendation>
            </div>
            <!---------col-end---------->
          </div>
          <!----------row-end---------->
        </div>
      </div>
    </section>
    <!-----------page_title-end-------------->
    <!-----------footer--------------->
    <section class="contact_page pdb_70 pdt_40">
      <div class="container">
        <div class="row">
          <!---------row----------->
          <div class="col-lg-6 col-md-12">
            <!---------col----------->
            <div class="contact_us_form" id="form">
              <p>Hello {{userName}}!</p>
              <p>I'm helping you to get through quarantine and track your symptoms.</p>
            </div>
            <!---------col-end---------->
          </div>
          <!----------row-end---------->
        </div>
      </div>
    </section>
    <!------main-content-end----->
  </main>
  <!--page_wapper-end---->
</div>

<app-tab-bar [activeTab]=null></app-tab-bar>
