#small_title {
  min-height: 150px;
}

#small_title .content_box {
  margin: 5px 0 0;
}

.card_calendar {
  margin-top: 0;
  padding: 10px;
}

#container_calendar {
  padding-left: 20px;
  padding-right: 20px;
}
