<div class="page_wapper">
  <!--page_wapper-->
  <!--Header-->
  <header class="header_v1">
    <!--Header-v1--->
    <section class="navbar_outer">
      <div class="navbar navbar-expand-lg  bsnav bsnav-sticky bsnav-sticky-slide">
        <div class="container">
          <a class="navbar-brand" href="index.html"><img src="assets/image/logo-default.png" class="img-fluid" alt="img"></a>
        </div>
      </div>
      <!--Header-v1-end-->
    </section>
  </header>
  <!--Header-->
  <main class="main-content">
    <!------main-content------>
    <!-----------page_title--------------->
    <section class="page_title  pdt_80  pdb_20" id="small_title">
      <div class="container">
        <div class="row">
          <!---------row----------->
          <div class="col-lg-12 col-md-12 text-center">
            <!---------col----------->
            <div class="content_box">
              <h2>Enter your symptoms</h2>
            </div>
            <!---------col-end---------->
          </div>
          <!----------row-end---------->
        </div>
      </div>
    </section>
    <!-----------page_title-end-------------->
    <!-----------counter--------------->
    <section class="counter type_two wow fadeIn pdt_20" data-wow-delay="600ms" data-wow-duration="1500ms">
      <div class="container" id="container_calendar">
        <div class="counter_outer_box card_calendar">
          <div class="row">
            <!---------row----------->
            <div class="col-lg-4 col-md-12">
              <!---------col----------->
              <app-symptoms-calendar (dateChanged)="onDateChanged($event)"></app-symptoms-calendar>
              <hr>
              <app-symptoms-form [date]="date" (symptomsChanged)="onSymptomsChanged()"></app-symptoms-form>
              <hr>
              <app-symptoms-chart [symptomNumbers]="symptomsCount"></app-symptoms-chart>
              <!---------col-end---------->
            </div>
            <!----------row-end---------->
          </div>
        </div>
      </div>
    </section>
    <!-----------counter-end-------------->
    <!------main-content-end----->
  </main>
  <!--page_wapper-end---->
</div>

<app-tab-bar [activeTab]="tabKey"></app-tab-bar>
